<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity Name="UnoHotDesignApp1"
            Version="1.0.0.0"
            ProcessorArchitecture="neutral"
            Publisher="CN=DevTKSS, O=Technische Konstruktion Sonja Schweitzer"/>
    <Properties>
        <DisplayName>Uno HotDesign App</DisplayName>
        <PublisherDisplayName>Sonja Schweitzer</PublisherDisplayName>
        <Logo>Assets\Images\logo.png</Logo>
        <Description>Take a look on this cool Uno HotDesign App!</Description>
    </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="de"/>
    <Resource Language="en"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
        <uap:VisualElements DisplayName="Uno HotDesign App"
                            Description="Take a look on this cool Uno HotDesign App!"
                            BackgroundColor="transparent"
                            Square150x150Logo="Assets\Images\logo.png"
                            Square44x44Logo="Assets\Images\logo.png">
            <uap:SplashScreen Image="Assets\splash_screen.png" BackgroundColor="white"/>
            <uap:InitialRotationPreference>
                <uap:Rotation Preference="portrait"/>
            </uap:InitialRotationPreference>
            <uap:LockScreen BadgeLogo="Assets\Images\logo.png" Notification="badge"/>
        </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
